.navbar {
    background-color: rgba(156, 151, 151, 0.986);
}

a {
    font-size: 60px;
    text-align: center;
    color: grey;
}

body {
    text-align: justify;
    font-size: 110%;
    text-indent: 45px;
    margin-right: 100px;
    margin-left: 100px;
}

.button {
    font-size: 10px;
}