.nav-item {
    margin: 0 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    position: relative;
    padding: 0;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
}

.nav-link:hover::before {
    transform: scaleX(1)
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-family: 'Dancing Script', cursive;
    margin-top: 100px;
}

.lead {
    text-align: center;
}

.display-4 {
    text-align: center;
}

img {
    height: 35%;
    width: 35%;
    display: block;
    margin: auto;
}

body {
    text-align: justify;
}

p {
    text-align: justify;
    text-indent: 22px;
}

h1 {
    text-align: center
}

.spasi {
    text-indent: 2em;
}

.row {
    margin-left: 150px;
    margin-right: 150px;
}

.lead {
    text-align: center;
    color: white;
}

.display-4 {
    text-align: center;
    color: white;
}

.jumbotron {
    background-color: black;
}

hr {
    width: 75px;
    border-color: grey;
    border-width: 3px;
    border-radius: 5px;
}

.footer-copyright {
    background-color: black
}

#tabel {
    height: 400px;
    width: 700px;
}